.bubble-container {
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  font: $tertiary-font-size $fourth-seniority-font;
  text-transform: uppercase;
}